<html>

<head>
<title>Asteroids with Friends</title>
<LINK REL="stylesheet" TYPE="text/css" HREF="/stylesheets/style.css">

<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/javascripts/gl-matrix.min.js"></script>
<script type="text/javascript" src="/javascripts/google-webgl-utils.js"></script>
<script type="text/javascript" src="/javascripts/asteroids.js"></script>
<script type="text/javascript" src="/javascripts/laser.js"></script>
<script type="text/javascript" src="/javascripts/ship.js"></script>

<script id="shader-fs" type="x-shader/x-fragment">
	precision mediump float;

	varying vec2 vTextureCoord;
    varying vec3 vLightWeighting;
	
	uniform sampler2D uSampler;
	uniform int renderType;

	void main(void) {
		// render asteroids
		if (renderType == 0) {
			vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
			gl_FragColor = vec4(textureColor.rgb * vLightWeighting, textureColor.a);
		}
		// render laser
		else if (renderType == 1) {
			gl_FragColor = vec4(0.0, 1.0, 0.0, 1.0);
		}
		// render crosshair
		else if (renderType == 2) {
			gl_FragColor = vec4(1.0, 0.0, 0.0, 1.0);
		}
		// render player
		else if (renderType == 3) {
			vec4 textureColor = texture2D(uSampler, vec2(vTextureCoord.s, vTextureCoord.t));
			gl_FragColor = vec4(textureColor.rgb * vLightWeighting, textureColor.a);
			gl_FragColor = vec4(0.5, 0.5, 0.5, 1.0);
		}
	}
</script>

<script id="shader-vs" type="x-shader/x-vertex">
	attribute vec3 aVertexPosition;
	attribute vec3 aVertexNormal;
	attribute vec2 aTextureCoord;

	uniform mat4 uMVMatrix;
	uniform mat4 uPMatrix;
	uniform int renderType;

	varying vec2 vTextureCoord;
	varying vec3 vLightWeighting;

    //used for ambient lighting
	uniform mat3 uNMatrix;
	uniform vec3 uAmbientColor;

	uniform vec3 uPointLightingLocation;
	uniform vec3 uPointLightingColor;

	uniform vec3 uLightingDirection;
	uniform vec3 uDirectionalColor;
	
  	uniform bool uUseLighting;
    
	void main(void) {
		gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
		// Additional options for asteroid rendering (point light source & ambient lighting)
		if (renderType == 0) {
			vec4 mvPosition = uMVMatrix * vec4(aVertexPosition, 1.0);
			vTextureCoord = aTextureCoord;
			vec3 lightDirection = normalize(uPointLightingLocation - mvPosition.xyz);
			vec3 transformedNormal = uNMatrix * aVertexNormal;
			float directionalLightWeighting = max(dot(transformedNormal, lightDirection), 0.0);
			vLightWeighting = uAmbientColor + uPointLightingColor * directionalLightWeighting;
		}
		// Additional options for player rendering
		if (renderType == 3) {
			vTextureCoord = aTextureCoord;
			vec3 transformedNormal = uNMatrix * aVertexNormal;
			float directionalLightWeighting = max(dot(transformedNormal, uLightingDirection), 0.0);
			vLightWeighting = uAmbientColor + uDirectionalColor * directionalLightWeighting;
		}
	}
</script>

<script type="text/javascript">
/*
	WEBGL Initialization & Utility functions
*/
	var gl;
	function initGL(canvas) {
		try {
			gl = canvas.getContext("experimental-webgl");
			gl.viewportWidth = canvas.width;
			gl.viewportHeight = canvas.height;
		} catch (e) {
		}
		if (!gl) {
			alert("Could not initialise WebGL, sorry :-(");
		}
	}


	function getShader(gl, id) {
		var shaderScript = document.getElementById(id);
		if (!shaderScript) {
			return null;
		}

		var str = "";
		var k = shaderScript.firstChild;
		while (k) {
			if (k.nodeType == 3) {
				str += k.textContent;
			}
			k = k.nextSibling;
		}

		var shader;
		if (shaderScript.type == "x-shader/x-fragment") {
			shader = gl.createShader(gl.FRAGMENT_SHADER);
		} else if (shaderScript.type == "x-shader/x-vertex") {
			shader = gl.createShader(gl.VERTEX_SHADER);
		} else {
			return null;
		}

		gl.shaderSource(shader, str);
		gl.compileShader(shader);

		if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
			alert(gl.getShaderInfoLog(shader));
			return null;
		}

		return shader;
	}


	var shaderProgram;

	function initShaders() {
		var fragmentShader = getShader(gl, "shader-fs");
		var vertexShader = getShader(gl, "shader-vs");

		shaderProgram = gl.createProgram();
		gl.attachShader(shaderProgram, vertexShader);
		gl.attachShader(shaderProgram, fragmentShader);
		gl.linkProgram(shaderProgram);

		if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
				alert("Could not initialize shaders");
		}

		gl.useProgram(shaderProgram);

		shaderProgram.vertexPositionAttribute = gl.getAttribLocation(shaderProgram, "aVertexPosition");
		gl.enableVertexAttribArray(shaderProgram.vertexPositionAttribute);

		shaderProgram.textureCoordAttribute = gl.getAttribLocation(shaderProgram, "aTextureCoord");
		gl.enableVertexAttribArray(shaderProgram.textureCoordAttribute);

		shaderProgram.vertexNormalAttribute = gl.getAttribLocation(shaderProgram, "aVertexNormal");
		gl.enableVertexAttribArray(shaderProgram.vertexNormalAttribute);

		shaderProgram.pMatrixUniform = gl.getUniformLocation(shaderProgram, "uPMatrix");
		shaderProgram.mvMatrixUniform = gl.getUniformLocation(shaderProgram, "uMVMatrix");
		shaderProgram.nMatrixUniform = gl.getUniformLocation(shaderProgram, "uNMatrix");
		shaderProgram.samplerUniform = gl.getUniformLocation(shaderProgram, "uSampler");
		shaderProgram.renderType = gl.getUniformLocation(shaderProgram, "renderType");
		shaderProgram.pointLightingLocationUniform = gl.getUniformLocation(shaderProgram, "uPointLightingLocation");
		shaderProgram.pointLightingColorUniform = gl.getUniformLocation(shaderProgram, "uPointLightingColor");

		shaderProgram.useLightingUniform = gl.getUniformLocation(shaderProgram, "uUseLighting");
		shaderProgram.ambientColorUniform = gl.getUniformLocation(shaderProgram, "uAmbientColor");
		shaderProgram.lightingDirectionUniform = gl.getUniformLocation(shaderProgram, "uLightingDirection");
		shaderProgram.directionalColorUniform = gl.getUniformLocation(shaderProgram, "uDirectionalColor");
	}


	var mvMatrix = mat4.create();
	var pMatrix = mat4.create();

	function setMatrixUniforms() {
		gl.uniformMatrix4fv(shaderProgram.pMatrixUniform, false, pMatrix);
		gl.uniformMatrix4fv(shaderProgram.mvMatrixUniform, false, mvMatrix);
		
		//var normalMatrix = mat3.create();
		//mat4.toInverseMat3(mvMatrix, normalMatrix);
		//mat3.transpose(normalMatrix);
		//gl.uniformMatrix3fv(shaderProgram.nMatrixUniform, false, normalMatrix);
	}

	function degreesToRadians(degrees) {
		return degrees * (Math.PI / 180.0);
	}	

	function updateScore(score) {
		document.getElementById('score-div').innerHTML = 'SCORE: ' + score;
	}
/*
	Texture handling
	adapted from learningwebgl.com
*/
	function handleTexture(texture) {
		gl.bindTexture(gl.TEXTURE_2D, texture);
		gl.pixelStorei(gl.UNPACK_FLIP_Y_WEBGL, true);
		gl.texImage2D(gl.TEXTURE_2D, 0, gl.RGBA, gl.RGBA, gl.UNSIGNED_BYTE, texture.image);
		gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MAG_FILTER, gl.NEAREST);
		gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_MIN_FILTER, gl.NEAREST);
		gl.bindTexture(gl.TEXTURE_2D, null);
	}

	var asteroidTexture;
	
	function initTexture() {
		asteroidTexture = gl.createTexture();
		asteroidTexture.image = new Image();
		asteroidTexture.image.onload = function() {
			handleTexture(asteroidTexture)
		}
		asteroidTexture.image.src = "/asteroid_texture2.jpg";
	}

/*
	Init & Draw Scene
*/

	var score = 0;
	var otherPlayers = [];
	var enemyArray = [];
	var asteroid;
	var laser;
	var crosshair;
	var id = 0;
	var squareRotation = 0.0;
	var rPyramid = 0;
	var lastTime;
	var pressedKeys = [];
	var xCrosshair = 0.0;
	var yCrosshair = 0.0;
	var zCrosshair = -1.2;
	var xPos = Math.random() * 100;
	var yPos = Math.random() * 100;
	var zPos = Math.random() * 100;
	var vertAngle = 0.0;
	var horizAngle = 0.0;
	var asteroidArray = [];
	var zbulletPos = 160.0;
	var acceleration = 0.0;
	var socket = io.connect('http://localhost'); 

	// update other players on your position 10x a second
	setInterval(function() {
		socket.emit('update', {position: [-xPos, -yPos, -zPos], id: id});
	}, 1000 / 10);

	socket.on('init', function (data) {
		id = data.id;
		asteroidArray = asteroid.parseAsteroidField(data.asteroids);
	});

	socket.on('shoot', function(data) {
		laser.shoot(data[0], data[1], data[2], data[3], data[4], data[5], id);
	});

	socket.on('update', function(data) { 
		if(data.id !== id && data.id !== 0) {
			// update ship coordinates
			var found = false;
			for(var i = 0; i < otherPlayers.length && found === false; i++) {
				var enemy = otherPlayers[i];
				if(enemy.id === data.id) {
					enemy.position = data.position;
					found = true;
				}
			}
			if(found === false) otherPlayers.push(data);
		}
	});

	function initBuffers() {
		asteroid = new Asteroid(0, 5, 6, 2);
		laser = new Laser();
		crosshair = new Crosshair();
		ship = new Ship();
		asteroid.initBuffers(gl, shaderProgram);
		laser.initBuffers(gl, shaderProgram);
		crosshair.initBuffers(gl, shaderProgram);
		ship.initBuffers(gl, shaderProgram);
		//for (var i = 0; i < 50; i++) // temporary players
		//	otherPlayers.push([Math.random() * 500, Math.random() * 500, Math.random() * 500]);
	}

	function drawScene() {
		gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
		gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

		mat4.perspective(pMatrix, 45, gl.viewportWidth / gl.viewportHeight, 0.1, 2000.0);

		// Check collisions
		for (var i = 0; i < laser.bullets.length; i++) {
			var bulletTrans = laser.bullets[i][0];
			var bulletPos = [bulletTrans[12], bulletTrans[13], bulletTrans[14]];
			score += (id === laser.bullets[i][4]) ? asteroid.checkCollisions(i, laser.bullets, bulletPos, asteroidArray, function(asteroid_id) {
				socket.emit('remove', asteroid_id);
			}) : 0;
		}
		updateScore(score);

		// Draw other players
		gl.uniform1i(shaderProgram.renderType, 3);
		for (var i = 0; i < otherPlayers.length; i++) {
			// Set camera:
			mat4.identity(mvMatrix);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(vertAngle), [1.0, 0.0, 0.0]);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(horizAngle), [0.0, 1.0, 0.0]);
			//mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(rPyrameid), [0, 1, 0]);
			mat4.translate(mvMatrix, mvMatrix, [xPos, yPos, zPos]);
			
			var playerMatrix = mat4.create();
			mat4.identity(playerMatrix);
			mat4.translate(playerMatrix, playerMatrix, otherPlayers[i].position);
			mat4.multiply(mvMatrix, mvMatrix, playerMatrix);
			setMatrixUniforms();
			ship.draw(gl, shaderProgram);
		}

		// Draw Asteroid Field
		gl.uniform1i(shaderProgram.renderType, 0);
		for (var i = 0; i < asteroidArray.length; i++) {
			// Set camera:
			mat4.identity(mvMatrix);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(vertAngle), [1.0, 0.0, 0.0]);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(horizAngle), [0.0, 1.0, 0.0]);
			mat4.translate(mvMatrix, mvMatrix, [xPos, yPos, zPos]);

			// Set model-view (asteroid matrix):
			//mat4.rotate(asteroidArray[i], asteroidArray[i], squareRotation, [0.0, 1.0, 0.0]);
			mat4.multiply(mvMatrix, mvMatrix, asteroidArray[i]);
			setMatrixUniforms();
			asteroid.draw(gl, shaderProgram, asteroidTexture);
		}

		// Draw bullets
		for (var i = 0; i < (laser.bullets).length; i++) {
			var bullet = laser.bullets[i];
			gl.uniform1i(shaderProgram.renderType, 1);
			// Set camera matrix
			mat4.identity(mvMatrix);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(vertAngle), [1.0, 0.0, 0.0]);
			mat4.rotate(mvMatrix, mvMatrix, degreesToRadians(horizAngle), [0.0, 1.0, 0.0]);
			mat4.translate(mvMatrix, mvMatrix, [xPos, yPos, zPos]);
			mat4.multiply(mvMatrix, mvMatrix, bullet[0]); // multiply by object matrix
			setMatrixUniforms();
			laser.draw(gl, shaderProgram);
		}

		// Draw crosshair (static on screen)
		gl.uniform1i(shaderProgram.renderType, 2);
		mat4.identity(mvMatrix);
		mat4.identity(pMatrix);
		setMatrixUniforms();
		crosshair.draw(gl, shaderProgram);

		// Animation
		var currentTime = (new Date).getTime();
		if (currentTime - lastTime >= 10) {
			// Move player based on acceleration and heading
			var vertRad = degreesToRadians(-vertAngle);
			var horizRad = degreesToRadians(-horizAngle);
			xPos += Math.sin(horizRad) * acceleration;
			yPos -= Math.sin(vertRad) * acceleration;
			if (vertAngle > -90.0 && vertAngle < 90.0)
				zPos += Math.cos(horizRad) * acceleration;
			if (acceleration > 0)
				acceleration -= 0.02;
			if (acceleration < 0)
				acceleration += 0.02;
			if (acceleration <= 0.02 && acceleration >= -0.02)
				acceleration = 0.0;

			var change = currentTime - lastTime;
			rPyramid += (50 * change)/1000; // ship rotation
			if (rPyramid > 90) rPyramid -= 90;
			squareRotation += (0.001 * change) / 1000.0;

			for (var i = 0; i < laser.bullets.length; i++) {
				var bullet = laser.bullets[i];
				var x = Math.sin(-bullet[2]) * 10.2;
				var y = Math.sin(bullet[1]) * 10.2;
				var z = Math.cos(-bullet[2]) * 10.2;
				// up/down bullet offset
				if (bullet[1] > 0.6)
					y *= 1.3;
				mat4.translate(laser.bullets[i][0], laser.bullets[i][0], [x, y, -z]);
				laser.bullets[i][3] = laser.bullets[i][3] + 1;
			}
			laser.removeBullets();
		}
		lastTime = currentTime;
	}

	function handleKeyDown(event) {
		pressedKeys[event.keyCode] = true;
		var inputOK = [ 38, 40, 37, 39, 90, 88, 32];
		for(var i = 0; i < inputOK.length; i++)
			if(event.keyCode === inputOK[i]) {
				return false;
			}
		return true;
	}

	function handleKeyUp(event) {
		pressedKeys[event.keyCode] = false;
	}
	
	function handleKeyInput() {
		var vertRad = degreesToRadians(-vertAngle);
		var horizRad = degreesToRadians(-horizAngle);
		// UP
		if (pressedKeys[38]) {
			if (-vertAngle < 45.0)
				vertAngle += -1.5;
		}
		// DOWN
		if (pressedKeys[40]) {
			if (vertAngle < 45.0)
				vertAngle += 1.5;
		}
		// LEFT
		if (pressedKeys[37]) {
			horizAngle += -1.5;
		}
		// RIGHT
		if (pressedKeys[39]) {
			horizAngle += 1.5;
		}
		// move forward (z)
		if (pressedKeys[90]) {
			if (acceleration < 5.0)
				acceleration += 0.1;
		}
		// move backward (x)
		if (pressedKeys[88]) {
			if (acceleration > -5.0)
				acceleration -= 0.1;
		}
		// shoot (spacebar)
		if (pressedKeys[32]) {
			laser.shoot(vertRad, horizRad, xPos, yPos, zPos, id, id);
			socket.emit('shoot', [ vertRad, horizRad, xPos, yPos, zPos, id ]); 
		}
	}

	function tick() {
		requestAnimFrame(tick);
		handleKeyInput();
		drawScene();
	}

	function webGLStart() {
		var canvas = document.getElementById("game-canvas");
		initGL(canvas);
		initShaders();
		initBuffers();
		initTexture();

		gl.clearColor(0.0, 0.0, 0.0, 1.0); // black background
		gl.enable(gl.DEPTH_TEST);

		document.onkeydown = handleKeyDown;
		document.onkeyup = handleKeyUp;

		tick();
	}

</script>

</head>

<body onload="webGLStart();">
	<div id="main-div" align="center">
		<canvas id="game-canvas" width="1000" height="600" align="center"></canvas>
		<div id="score-div">
			SCORE: --
		</div>
		<div id="instructions-div"></br>
				<b><i>Instructions: </i></b></br>
				Move forward: z </br>
				Move backward: x </br>
				Change heading: arrow keys</br>
				Shoot: space</br>
		</div>
	</div>
</body>	

</html>
