<html>

<head>
<title>Asteroids with Friends</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">

<script type="text/javascript" src="/javascripts/gl-matrix.min.js"></script>
<script type="text/javascript" src="/javascripts/google-webgl-utils.js"></script>
<script type="text/javascript" src="/javascripts/asteroids.js"></script>

<script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;
	varying vec4 vColor;

    void main(void) {
        gl_FragColor = vColor;
    }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
    attribute vec3 aVertexPosition;
	attribute vec4 aVertexColor;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;

	varying vec4 vColor;

    void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
		vColor = aVertexColor;
    }
</script>


<script type="text/javascript">
/*
	WEBGL Initialization & Utility functions
*/
    var gl;
    function initGL(canvas) {
        try {
            gl = canvas.getContext("experimental-webgl");
            gl.viewportWidth = canvas.width;
            gl.viewportHeight = canvas.height;
        } catch (e) {
        }
        if (!gl) {
            alert("Could not initialise WebGL, sorry :-(");
        }
    }


    function getShader(gl, id) {
        var shaderScript = document.getElementById(id);
        if (!shaderScript) {
            return null;
        }

        var str = "";
        var k = shaderScript.firstChild;
        while (k) {
            if (k.nodeType == 3) {
                str += k.textContent;
            }
            k = k.nextSibling;
        }

        var shader;
        if (shaderScript.type == "x-shader/x-fragment") {
            shader = gl.createShader(gl.FRAGMENT_SHADER);
        } else if (shaderScript.type == "x-shader/x-vertex") {
            shader = gl.createShader(gl.VERTEX_SHADER);
        } else {
            return null;
        }

        gl.shaderSource(shader, str);
        gl.compileShader(shader);

        if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
            alert(gl.getShaderInfoLog(shader));
            return null;
        }

        return shader;
    }


    var shaderProgram;

    function initShaders() {
        var fragmentShader = getShader(gl, "shader-fs");
        var vertexShader = getShader(gl, "shader-vs");

        shaderProgram = gl.createProgram();
        gl.attachShader(shaderProgram, vertexShader);
        gl.attachShader(shaderProgram, fragmentShader);
        gl.linkProgram(shaderProgram);

        if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
            alert("Could not initialize shaders");
        }

        gl.useProgram(shaderProgram);

        shaderProgram.vertexPositionAttribute = gl.getAttribLocation(shaderProgram, "aVertexPosition");
        gl.enableVertexAttribArray(shaderProgram.vertexPositionAttribute);

		shaderProgram.vertexColorAttribute = gl.getAttribLocation(shaderProgram, "aVertexColor");
		gl.enableVertexAttribArray(shaderProgram.vertexColorAttribute);

        shaderProgram.pMatrixUniform = gl.getUniformLocation(shaderProgram, "uPMatrix");
        shaderProgram.mvMatrixUniform = gl.getUniformLocation(shaderProgram, "uMVMatrix");
    }


    var mvMatrix = mat4.create();
    var pMatrix = mat4.create();

    function setMatrixUniforms() {
        gl.uniformMatrix4fv(shaderProgram.pMatrixUniform, false, pMatrix);
        gl.uniformMatrix4fv(shaderProgram.mvMatrixUniform, false, mvMatrix);
    }

	function degreesToRadians(degrees) {
		return degrees * (Math.PI / 180.0);
	}	

/*
	Init & Draw Scene
*/

	var asteroid;
	var squareRotation = 0.0;
	var lastTime;
	var pressedKeys = [];
	var xPos = 0.0;
	var yPos = 0.0;
	var zPos = -30.0;
	var vertAngle = 0.0;
	var horizAngle = 0.0;
	var asteroidArray = [];

    function initBuffers() {
		asteroid = new Asteroid(0);
		asteroidArray = asteroid.createAsteroidField(150);
		asteroid.initBuffers(gl, shaderProgram);
    }


    function drawScene() {
        gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
        gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

		mat4.perspective(pMatrix, 45, gl.viewportWidth / gl.viewportHeight, 0.1, 2000.0);

		// Draw Asteroid Field
		for (var i = 0; i < asteroidArray.length; i++) {
			// Set camera:
			mat4.identity(mvMatrix);
			mat4.rotate(mvMatrix, mvMatrix, vertAngle, [1.0, 0.0, 0.0]);
			mat4.rotate(mvMatrix, mvMatrix, horizAngle, [0.0, 1.0, 0.0]);
			mat4.translate(mvMatrix, mvMatrix, [xPos, yPos, zPos]);

			// Set model-view (asteroid matrix):
			//mat4.rotate(asteroidArray[i], asteroidArray[i], squareRotation, [0.0, 1.0, 0.0]);
			mat4.multiply(mvMatrix, mvMatrix, asteroidArray[i]);
			setMatrixUniforms();
			asteroid.draw(gl, shaderProgram);
		}

		var currentTime = (new Date).getTime();
		if (currentTime - lastTime >= 10) {
			var change = currentTime - lastTime;
			squareRotation += (0.001 * change) / 1000.0;
		}
		lastTime = currentTime;
    }

	function handleKeyDown(event) {
		pressedKeys[event.keyCode] = true;
	}

	function handleKeyUp(event) {
		pressedKeys[event.keyCode] = false;
	}
	
	function handleKeyInput() {
		var vertRad = degreesToRadians(vertAngle);
		var horizRad = degreesToRadians(horizAngle);
		// UP
		if (pressedKeys[38]) {
			vertAngle += -0.04;
		}
		// DOWN
		if (pressedKeys[40]) {
			vertAngle += 0.04;
		}
		// LEFT
		if (pressedKeys[37]) {
			horizAngle += -0.04;
		}
		// RIGHT
		if (pressedKeys[39]) {
			horizAngle += 0.04;
		}
		// move forward (z)
		if (pressedKeys[90]) {
			xPos += Math.sin(horizRad) * 0.9;
			yPos += Math.sin(vertRad) * 0.9;
			zPos += Math.cos(horizRad) * 0.9;
		}
		// move backward (x)
		if (pressedKeys[88]) {
			xPos += Math.sin(horizRad) * -0.9;
			yPos += Math.sin(vertRad) * -0.9;
			zPos += Math.cos(horizRad) * -0.9;
		}
	}

	function tick() {
		requestAnimFrame(tick);
		handleKeyInput();
		drawScene();
	}


    function webGLStart() {
        var canvas = document.getElementById("lesson01-canvas");
        initGL(canvas);
        initShaders();
        initBuffers();

        gl.clearColor(0.0, 0.0, 0.0, 1.0); // black background
        gl.enable(gl.DEPTH_TEST);

		document.onkeydown = handleKeyDown;
		document.onkeyup = handleKeyUp;

        tick();
    }

</script>

</head>

<body onload="webGLStart();">
	<canvas id="lesson01-canvas" style="border: none;" width="1000" height="600"></canvas>
	<div id="instructions">
		Move forward: z </br>
		Move backward: x </br>
		up/down/left/right: arrow keys</br>
	</div>
</body>	

</html>
