body {
  background-color: #181818;
  background:url(../bgTile.gif) repeat;
}

#canvas {
  border: none;
}

#score-div {
  color: red; 
  font-size: 30px; 
  font-family: Impact, Charcoal, sans-serif;
}

#instructions-div {
  color: white;
  font-family: Tahoma, Geneva, sans-serif;
}

a {
  color: #00B7FF;
}